<table class="table table-hover">
    <tr>
        <td>
            <a href="{{ url_for('course_details', course_id = course.id ) }}"><b>{{ course.course_name }}</b></a><br>Description: {{ course.about_course }}
            <br><a href="{{ url_for('course_details', course_id = course.id ) }}">Start Course</a> 
            <a href="{{ url_for('unsubscribe', course_id = course.id ) }}">Unsubscribe</a><br>
        </td>
    </tr>
</table>