<table class="table table-hover">
  <tr>
    <td>
      <a href="{{ url_for('course_details', course_id = course.id ) }}"
      ><b>{{ course.course_name }}</b></a
    ><br />Description: {{ course.about_course
      }} {% if user not in course.subscribed_by %} <br>
      <a href="{{ url_for('subscribe', course_id = course.id ) }}">Subscribe</a
      ><br />
      {% endif %}
    </td>
  </tr>
</table>
