{% extends "base.html" %} {% block app_content %}

<h1>Add New Chapter</h1>
<h2><a href="{{ url_for('course_details', course_id = course.id ) }}"
  ><b>{{ course.course_name }}</b></a></h2>
<ul>
  {% for chapter in chapters %}
  <li>{{chapter.chapter_name}}</li>
  <a href="{{ url_for('add_video',course_id = course.id, chapter_id = chapter.id) }}">Add Videos</a>
  {% endfor%}
</ul>
<form action="" method="post">
  {{ form.hidden_tag() }}
  <p>
    {{ form.chapter_name.label }}<br />
    {{ form.chapter_name(size=32) }}<br />
    {% for error in form.chapter_name.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>{{ form.submit() }}</p>
</form>
{% endblock %}
