{% extends "base.html" %}

{% block app_content %}
<h1>Add New Course</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.course_name.label }}<br />
        {{ form.course_name(size=32) }}<br />
        {% for error in form.course_name.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.about_course.label }}<br />
        {{ form.about_course(cols=50, rows=4) }}<br />
        {% for error in form.about_course.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}