{% extends "base.html" %} 
{% block app_content %}

<div>Videos in {{chapter.chapter_name}}</div>
<ul>
{% for video in videos %}
<li> {{ video.description}}</li>
{% endfor %}
</ul>
<h1>add a video</h1>
<p>Adding video to :{{chapter.chapter_name}} Of {{ course.course_name }}</p>
<form action="" method="post">
  {{ form.hidden_tag() }}
  <p>
    {{ form.description.label }}<br />
    {{ form.description(cols=50, rows=4) }}<br />
    {% for error in form.description.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.link.label }}<br />
    {{ form.link(size=32) }}<br />
    {% for error in form.link.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>{{ form.submit() }}</p>
</form>
{% endblock %}
