{% extends "base.html" %} {% block app_content %}

<div>
  <h2><a href="{{ url_for('course_details', course_id = course.id ) }}"
    ><b>{{ course.course_name }}</b></a></h2>
  <span
    style="background-color: lightgray;
  border-radius: 1em;
  font-size: 1.5em;
  padding: 0.25em;"
    >{{percentage}}% Completed</span
  >
</div>
<ul class="list-group">
  {% for chapter in chapters %}
  <li class="list-group-item">
    <a href="{{ url_for('chapter_details',course_id=course.id,chapter_id = chapter.id) }}"
      >{{chapter.chapter_name}}</a
    >
  </li>
  {% endfor%}
</ul>
{% endblock %}

