{% extends "base.html" %} {% block app_content %} 
<h2>Explore</h2>
{% for course in courses%}
{% include '_explore.html' %}
{% endfor %} 
<br>
<hr>
<nav aria-label="...">
  <ul class="pager">
      <li class="previous{% if not prev_url %} disabled{% endif %}">
          <a href="{{ prev_url or '#' }}">
              <span aria-hidden="true">&larr;</span> Previous Page
          </a>
      </li>
      <li class="next{% if not next_url %} disabled{% endif %}">
          <a href="{{ next_url or '#' }}">
              Next Page <span aria-hidden="true">&rarr;</span>
          </a>
      </li>
  </ul>
</nav>{% endblock%}
