{% extends "base.html" %}

{% block app_content %}
<table>
    <tr valign="top">
        <td><img src="{{ current_user.avatar(64) }}"></td>
        <td><h1>{{ current_user.username }}</h1></td>
    </tr>
</table>
    {% for course in courses%}
    {% include '_course.html' %}
    {% endfor %}
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Previous Page
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Next Page <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>

{% endblock %}