{% extends "base.html" %}

{% block app_content%}

<h2>My Courses</h2>
{% for course in courses %}
<table class="table table-hover">
  <tr>
    <td>
      <a href="{{ url_for('course_details', course_id = course.id ) }}"><b>{{ course.course_name }}</b></a> <br />Description: {{ course.about_course
      }} {% if user not in course.subscribed_by %} <br>
      <a href="{{ url_for('add_chapter', username=current_user.username,course_name=course.course_name) }}">Add Chapter</a><br />
      {% endif %}
    </td>
  </tr>
</table>
{% endfor%}
{% endblock%}

