{% extends "base.html" %} 
{% block app_content %} 

<h4>
  <a href="{{ url_for('course_details', course_id = course.id ) }}"
    ><b>{{ course.course_name }}</b></a
  >
  //
  <a href="{{ url_for('chapter_details',course_id=course.id,chapter_id = chapter.id) }}"
    ><b>{{chapter.chapter_name}}</b></a
  >//<a>{{ video.description }}</a>
</h4>
<div id = 'video_div'>
    {{link}}
<script >document.getElementById('video_div').innerHTML = document.getElementById('video_div').innerText</script>
</div>
<p>{{ video.description }}</p>
<form action="" method="post" class='completed'>
    {{ form.hidden_tag() }}
    <p>
      {{ form.mark.label }} <span >{{ form.mark(onchange='document.querySelector(".completed").submit()') }}</span><br/>
    </p>
{% endblock %}