{% extends "base.html" %}

{% block app_content %}
    <h1>401 Unauthorized Request</h1>
    <p>you are not supposed to make the request</p>
    <p><a href="{{ url_for('index') }}">Back</a></p>
{% endblock %}